# Python compiled files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# pytest cache
.cache
*.coverage
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# MyPy
.mypy_cache/

# Pyre type checker
.pyre/

# VSCode settings
.vscode/

# IDE specific files
.idea/
*.sublime-workspace
*.sublime-project

# OS specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# Database file
# /instance
# votes.db  # Ignore the votes database file
# *.db