<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Q-Vote</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form action="/login" method="POST" class="form-auth">
            <label for="username">Username</label>
            <input type="text" name="username" class="input-field" value="{{username}}" required>
            
            <label for="password">Password</label>
            <input type="password" name="password" class="input-field" required>
            {% if message %}
            <div class="error-container">
                <div class="error-message">{{ message }}</div>
            </div>
            {% endif %}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category == 'success' %}
                            <div class="success-container">
                                <div class="success-message">{{ message }}</div>
                            </div>
                        {% else %}
                            <div class="error-container">
                                <div class="error-message">{{ message }}</div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <button type="submit" class="btn-submit">Login</button>
        </form>
        <p>Don't have an account? <a href="/register">Register here</a>.</p>
    </div>
</body>
<!-- Script for Darkmode -->
<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
<script src="../static/darkmode.js"></script>
</html>
