<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Q-Vote</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h2>Register</h2>
        <form action="/register" method="POST" class="form-auth">
            <label for="username">Username</label>
            <input type="text" name="username" class="input-field" value="{{username}}" required>
            
            <label for="password">Password</label>
            <input type="password" name="password" class="input-field" required>

            {% if message %}
            <div class="error-container">
                <div class="error-message">{{ message }}</div>
            </div>
            {% endif %}

            <button type="submit" class="btn-submit">Register</button>
        </form>
        <p>Already have an account? <a href="/login">Login here</a>.</p>
    </div>
</body>
<!-- Script for Darkmode -->
<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
<script src="../static/darkmode.js"></script>
</html>
