<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vote</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/vote.css" />
  </head>
  <body>
    <div>
      <div id="header">
        <div class="logo">
          <a href="#">Quantum Voting System</a>
          <button href="/logout" class="btn-logout">Logout</button>
        </div>
      </div>
      <div class="container">
        <h1>Vote for Your Preferred Candidate</h1>

        <!-- {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %} -->

        <form action="/vote" method="POST" class="form-vote">
          <label for="candidate">Select a candidate:</label>
          <select name="candidate" id="candidate" class="candidate-select">
            <option value="1">Candidate 1</option>
            <option value="2">Candidate 2</option>
            <option value="3">Candidate 3</option>
            <option value="4">Candidate 4</option>
          </select>
          <br /><br />
          <button type="submit" class="btn-submit">Submit Vote</button>
        </form>

        <h2 class="count">Total Vote Counts: {{ total_vote_count }}</h2>
      </div>
    </div>
  </body>
  <!-- Script for Darkmode -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
  <script src="../static/darkmode.js"></script> -->
</html>
